In [1]:
import pandas as pa

In [2]:
pa.__version__

'2.2.3'

In [3]:
df = pa.read_csv('green_tripdata_2019-10.csv', nrows = 100)

In [4]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-10-01 00:02:53,2019-10-01 00:14:32,N,1,126,74,1,3.10,12.0,0.50,0.5,0.00,0.0,NaN,0.3,13.30,1,1,0.0
96,2,2019-10-01 00:18:45,2019-10-01 00:29:23,N,1,42,74,1,1.64,9.5,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2,1,0.0
97,2,2019-10-01 00:41:32,2019-10-01 00:52:51,N,1,75,42,1,3.17,11.5,0.50,0.5,1.50,0.0,NaN,0.3,14.30,1,1,0.0
98,2,2019-10-01 00:36:54,2019-10-01 00:54:20,N,1,92,179,1,5.48,19.5,0.50,0.5,0.00,0.0,NaN,0.3,20.80,2,1,0.0
99,2,2019-10-01 00:21:27,2019-10-01 00:26:59,N,1,129,129,1,1.02,6.0,0.50,0.5,0.00,0.0,NaN,0.3,7.30,2,1,0.0

In [6]:
df.lpep_pickup_datetime = pa.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pa.to_datetime(df.lpep_dropoff_datetime)

In [7]:
from sqlalchemy import create_engine

In [47]:
import dotenv
import os
dotenv.load_dotenv()

db_user = os.environ.get('DB_USER')
db_pass = os.environ.get('DB_PASSWORD')
engine = create_engine('postgresql://'+db_user+':'+db_pass+'@localhost:5432/green_taxi', echo=False)

In [48]:
engine.connect()

In [29]:
print(pa.io.sql.get_schema(df, name='green_taxi_data', con = engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag FLOAT(53),
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [30]:
df_iter = pa.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [31]:
df = next(df_iter)

In [32]:
len(df)

100000

In [33]:
df.lpep_pickup_datetime = pa.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pa.to_datetime(df.lpep_dropoff_datetime)

In [34]:
df.head(n=0).to_sql('green_taxi_data', engine, if_exists='replace')

0

In [35]:
df.to_sql('green_taxi_data', con=engine, if_exists='append')

1000

In [36]:
from time import time

In [37]:
while True:
    t_start = time()
    try:
        df = next(df_iter)
        df.lpep_pickup_datetime = pa.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pa.to_datetime(df.lpep_dropoff_datetime)
        df.to_sql('green_taxi_data', con=engine, if_exists='append')
        print(f'Chunk loaded in {time() - t_start} seconds.')
    except StopIteration:
        break

Chunk loaded in 29.35032296180725 seconds.
Chunk loaded in 27.314321041107178 seconds.

/var/folders/g6/vdmbbt6n7hs2qmm1l87499vr0000gn/T/ipykernel_9204/3544787379.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Chunk loaded in 24.986346006393433 seconds.
Chunk loaded in 16.429299354553223 seconds.

In [22]:
df_zones = pa.read_csv('taxi_zone_lookup.csv')

In [23]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [24]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265